body {
  background-color: #3dadff;
}

.someHeader {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

#webcam, #snapshot {
  height: 300px;
  border: 3px dashed black;
  width: 320px;
  box-shadow: 5px 5px 15px white;
}

.camdiv {
  border: 1px dotted black;
  padding: 25px;
}

.camdiv label {
  background-color: orangered;
  font-size: 25px;
  padding: 10px;
  width: 200px;
  border-radius: 40px;
  font-family: "Akaya Telivigala", cursive;
}

.camdiv button {  
    margin-bottom: 10px;
    width:320px;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  line-height: 3;
}

.result {
  border-radius:30px;
  margin-bottom: 75px;
  background-color: white;
}
